@{
    ViewBag.Title = "Home Page";

}
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <table width="100%">
        <thead>
            <tr>
                <th>Month</th>
                <th>Owner</th>
                <th>Customer</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deal in ViewBag.Deals)
            {
                if (ViewBag.IsAdminSession)
                {
                    <tr style="border-bottom:1pt solid black;">
                        <td align="center">@deal.DealName</td>
                        <td align="center">@deal.Owner</td>
                        <td align="center">@deal.Customer</td>
                        <td align="center">@deal.Price </td>
                        <td><a href = "http://localhost/DesignBureau.MVC/Home/Settings/@deal.DealId">редактировать</a></td>
                    </tr>
                }
                else
                {
                    <tr style="border-bottom:1pt solid black;">
                        <td align="center">@deal.DealName</td>
                        <td align="center">@deal.Owner</td>
                        <td align="center">@deal.Customer</td>
                        <td align="center">@deal.Price </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
