@{
    ViewBag.Title = "Home Page";

}
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <table width="100%">
        <thead>
            <tr>
                <th>Название сделки</th>
                <th>Владелец</th>
                <th>Исполнитель</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deal in ViewBag.Deals)
            {
                if (ViewBag.IsAdminSession)
                {
                    <tr style="border-bottom:1pt solid black;">
                        <td align="center">@deal.DealName</td>
                        <td align="center">@deal.Owner</td>
                        <td align="center">@deal.Customer</td>
                        <td align="center">@deal.Price </td>
                        <td><a href="http://localhost/DesignBureau.MVC/Home/Settings/@deal.DealId">редактировать</a></td>
                    </tr>
                }
                else
                {
                    <tr style="border-bottom:1pt solid black;">
                        <td align="center">@deal.DealName</td>
                        <td align="center">@deal.Owner</td>
                        <td align="center">@deal.Customer</td>
                        <td align="center">@deal.Price </td>
                        <td><a href="http://localhost/DesignBureau.MVC/Home/SubscribeDeal/@deal.DealId">Подписаться</a></td>
                    </tr>
                }
            }
            @if (ViewBag.IsAdminSession){
                <tr style="border-bottom:1pt solid black;">
                    <td><a href="http://localhost/DesignBureau.MVC/Home/CreateDeal">Создать сделку</a></td>
                </tr>
            }
</tbody>
    </table>
</body>
</html>
